<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <remove name="aspNetCore" />
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath=".\venv\Scripts\python.exe" arguments="-m hypercorn main:app --bind localhost:5001" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" requestTimeout="00:30:00" hostingModel="outofprocess">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_PORT" value="5001" />
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
</configuration>